[general]
# 0 = no logging | 1 = log Errors only | 2 = log Warnings and Errors | 3 = log all | Default = 1
# Sleep and wakeup info will be logged at mode 1 and 2 also!
debug = 1
# Script Start/Stop, sleep and wakeup info will be logged at mode 1 and 2 also!
debug = 2

# 1 = check for users which are logged in | 0 = don't check | Default = 1
checkuser = 0

# 1 = check for computers in your network which are running | 0 = dont't check | Default = 1
checkip = 1

# 1 = check pyload for running downloads | 0 = don't check | Default = 0
checkpyload = 0

# critical processes preventing that the server is going to sleep | Default = 0
# 1 = check for critikal processes | 0 = don't check
critprocess = 0

# timeout in sec between checkups | Default = 600
checkinterval = 20

# command which is used to set the server to sleep
# sleepcmd="/usr/sbin/pm-powersave"
# sleepcmd="echo mem > /sys/power/state"
sleepcmd = "/usr/sbin/pm-suspend"



[user]
# amount of users logged in. nevertheless it's going to sleep | -1 = disable | Default = 0
max_usr = 5

# amount of users logged in local. nevertheless it's going to sleep | -1 = no local user check | Default = -1
max_usr_local = -1

# amount of users logged in remotely. nevertheless it's going to sleep | -1 = no remote user check | Default = -1
# Default -1
max_usr_remote = -1

# time in sec. user which idle above this time are not counted | -1 = no timeout all user are counted | Default = 1800
idle_timeout = 1800



[checkip]
# list of ip-addresses to check
ip_addr = ("192.168.0.100", "192.168.0.0")

# maximal amount of network devices allowed for putting the machine to sleep
max_hosts = 0



[critprocess]
# lists of process names and ids
processnames = ("asdfghjkla", "asdfghjkl")
processids = ("9999999", "9999999")processids = ("9999999", "9999999")
processids = ("9999999", "9999999")
